In [6]:
x = 3
isInstance = isinstance(x, float)
print(str(x) + " " + str(isInstance))

3 False

In [42]:
myObjects = [
    {
        "name":"Shlok",
        "gr":21910163
    },
    {
        "name":"aditya",
        "gr":21910379
    },
    {
        "name":"rohan",
        "gr":21910456
    }
]

In [43]:
for obj in myObjects:
    if obj['name'] == "aditya":
        print("Yess")
    else:
        print("No")

No
Yess
No

In [ ]:
myList = ["4", "2", "3"]
listStr = " ".join(myList)

In [ ]:
print(listStr)

In [ ]:
print(listStr.split(" "))

In [ ]:
name = "shlo"
toFind = "shlokshlokshlo"

In [ ]:
toFind.count(name)

In [ ]:
toFind.find(name)

In [44]:
# loop --- prime number
lower = 1
upper = 200
primeNumbers = []

for num in range(lower, upper + 1):
    if num > 1:
        for i in range (2, num):
            if num%i == 0:
                break
        else:
            primeNumbers.append(num)
            
print("Prime numbers between " + str(lower) + " and " + str(upper)+ " are : " + str(primeNumbers))

Prime numbers between 1 and 200 are : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199]

In [45]:
# Armstrong number in interval

lower = 1
upper = 1000
armstrongNumbers = []

for num in range(lower, upper + 1):
    order = len(str(num))
    sum = 0
    
    temp = num
    while temp > 0:
        digit = temp%10
        sum += digit ** order
        temp = int(temp/10)
        
    if num == sum:
        armstrongNumbers.append(num)
        
print("Armstrong numbers between " + str(lower) + " and " + str(upper)+ " are : " + str(armstrongNumbers))

Armstrong numbers between 1 and 1000 are : [1, 2, 3, 4, 5, 6, 7, 8, 9, 153, 370, 371, 407]

In [46]:
# types in list

myList = []
myList = [1, 2, 3]
myList = ["Shlok", 1, 2, "Smit"]
myList = ["Shlok", [5, 6, 7], 1, 2.3, ['a', 'b']]

print(myList)

['Shlok', [5, 6, 7], 1, 2.3, ['a', 'b']]

In [47]:
print(myList[0])
print(myList[0][1])
print(myList[1])
print(myList[1][2])
print(myList[3])
print(myList[4][1])

Shlok
h
[5, 6, 7]
7
2.3
b

In [48]:
# List supports negative indices

myList = [1, 2, 3, 4]
print(myList[0])
print(myList[-4])

1
1

In [49]:
#slicing 

a = myList[1:2]
print(myList[1:3])

[2, 3]

In [50]:
# changing using slicing

myList[0] = 10
print(myList)

myList[1:3] = [20, 30]
print(myList)

[10, 2, 3, 4]
[10, 20, 30, 4]

In [51]:
# append, pop and extend

myList = [10, 20, 30, 4]
myList.append(50)
print(myList)

myList.append([6, 7, 8])
print(myList)
myList.pop()

myList.extend([6, 7, 8])
print(myList)

[10, 20, 30, 4, 50]
[10, 20, 30, 4, 50, [6, 7, 8]]
[10, 20, 30, 4, 50, 6, 7, 8]

In [52]:
# remove and delete

myList = [10, 20, 30, 4, 50, 6, 7, 8]
myList.remove(4)
print(myList)

del myList[2]
print(myList)

[10, 20, 30, 50, 6, 7, 8]
[10, 20, 50, 6, 7, 8]

In [53]:
mySet = {1, 2.3, "Shlok"}
print(mySet)

mySet = {1, 1, 2, 2, 2, 3,  4, 5}
print(mySet)

myDict = {
    "Name":"Shlok",
    "Age":19
}
print(myDict)

{1, 2.3, 'Shlok'}
{1, 2, 3, 4, 5}
{'Name': 'Shlok', 'Age': 19}

In [54]:
setA = {1, 2, 3, 4}
setB = {3, 4, 5, 6}
print(id(setA))
print(id(setB))

setA = setA.union(setB)
print(setA)

print(id(setA))

2531219340864
2531219339520
{1, 2, 3, 4, 5, 6}
2531219339968

In [55]:
myDict = {
    1:"Sunday",
    "Hello":"Monday",
    3: "Tuesday"
}

myDict["Four"] = "Wednesday"
print(myDict)

print(myDict.get(3))
# print(myDict[3])

print(myDict["Hello"])

{1: 'Sunday', 'Hello': 'Monday', 3: 'Tuesday', 'Four': 'Wednesday'}
Tuesday
Monday

In [56]:
def factorial(num):
    if num == 1:
        return 1
    else:
        return num*factorial(num - 1)
    
myFact = factorial(5)
print(myFact)

120

In [57]:
try:
    print(a)
except NameError:
    print("Name Error")
except:
    print("Something Error")
finally:
    print("After try-except")

[2]
After try-except

In [58]:
try:
    f= open("abc.txt")
except NameError:
    print("Name Error")
except:
    print("Something Error")
finally:
    print("After try-except")

Something Error
After try-except

In [59]:
class Student:
    studCount = 1
    course = "Engineering"
    def __init__(self, name, age):
        self.name = name
        self.age = age
        self.id = Student.studCount
        Student.studCount += 1
        
    def displayCount():
        print("No. of students = " + str(Student.studCount - 1))
        
    def displayStudent(self):
        print(self.name + " " + str(self.age) + " " + self.course + " " + str(self.id))

In [60]:
stud1 = Student('Shlok', 19)
stud2 = Student('Aiman', 20)
stud3 = Student('Rohan', 18)

stud1.displayStudent()
stud2.displayStudent()
stud3.displayStudent()

Student.displayCount()

Shlok 19 Engineering 1
Aiman 20 Engineering 2
Rohan 18 Engineering 3
No. of students = 3

In [61]:
class Person:
    
    def __init__(self, name):
        self.name = name
        
    def isPerson(self):
        return True
    
    def isEmployee(self):
        return False
    
class Employee(Person):
    def isEmployee(self):
        return True
    
p1 = Person("Shlok")
print(p1.name, p1.isPerson(), p1.isEmployee())

e1 = Employee("Smit")
print(e1.name, e1.isPerson(), e1.isEmployee())

Shlok True False
Smit True True

In [62]:
class Person:
    
    def __init__(self, name, age):
        self.name = name
        self.age = age
        
    def display(self):
        print(self.name)
        print(str(self.age))
    
    
class Employee(Person):
    
    def __init__(self, name, age, salary, post):
        self.name = name
        self.age = age
        self.salary = salary
        self.post = post
        
    def displayEmp(self):
        print(self.name)
        print(str(self.age))
        print(str(self.salary))
        print(self.post)
        
e1 = Employee("Shlok", 19, 200000, "Developer")
e1.display()
print()
e1.displayEmp()

Shlok
19

Shlok
19
200000
Developer

In [7]:
class Company:
    
    def __init__(self, name, proj):
        self.name = name
        self.proj = proj
        
    def show(self):
        print("The code of company is " + self.ccode)
        
class Emp(Company):
    
    def __init__(self, eName, sal, cName, proj):
        Company.__init__(self, cName, proj)
        self.name = eName
        self.sal = sal
        
    def show_sal(self):
        print("The salary of " + self.name + " is " + str(self.sal))
            
            
c = Company("Stark Industries", "Mark 4")
e = Emp("Steve", 9999999, c.name, c.proj)

print("Welcome to " + c.name)
print("Here " + e.name + " is working on " + e.proj)
e.show_sal()

Welcome to Stark Industries
Here Steve is working on Mark 4
The salary of Steve is 9999999

In [9]:
from abc import ABC, abstractmethod

class AbstractClassExample(ABC):
    
    def do_something(self):
        pass
    
class AnotherSubClass(AbstractClassExample):
    
    def do_something(self):
        super().do_something()
        print("The enrichment from AnotherSubClass")
        
        
x = AnotherSubClass()
x.do_something()

The enrichment from AnotherSubClass